<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css"/>
    <script src="index.js" defer></script>
    <title>Not Twitter</title>
</head>
<body>
    <section class="modal hidden" id="modal-mount">
        <div class="modal-content hidden" id="signup-modal">            
            <h1>Sign up</h1>
            <form id="signup-form">
                <label for="signup-username">Username</label>
                <input type="text" name="signup-username" id="signup-username" required>
                <label for="signup-email">Email</label>
                <input type="email" name="signup-email" id="signup-email" required>
                <label for="signup-password">Password</label>
                <input type="password" name="" id="signup-password" required>
                <input type="submit" value="Sign up">
            </form>
        </div>
        <div class="modal-content hidden" id="login-modal">            
            <h1>Login</h1>
            <form id="login-form">
                <label for="login-email">Email</label>
                <input type="text" name="login-email" id="login-email">
                <label for="login-password">Password</label>
                <input type="password" name="" id="login-password">
                <input type="submit" value="Login" id="login-confirm">
            </form>
        </div>
        <div class="modal-background" id="modal-bg"></div>
    </section>

    % # left

    % # center
    <main>
        <nav class="left-side">
            <div>Home</div>
            <div>Explore</div>
            <div>Notifications</div>
            <div>Messages</div>
            <div id="login-open">Login</div>
            <div id="signup-open">Sign up</div>
        </nav>
        <div class="tweet-deck">
            tweet deck
        </div>
        <nav class="right-side">
            <div>Search bar</div>
            <div>
                <h2>Trends for you</h2>
            </div>
            <div>
                <h2>Who to follow</h2>
            </div>
        </nav>
    </main>

    % # right

    <footer>

    </footer>
</body>
</html>