<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css"/>
    <!-- get() returns the 'title' variable or the 2nd argument string if 'title' is not present -->
    <title>{{ get('title', 'oops...') }}</title>
</head>
<body>
    <nav>
        <a href='/'>Home</a>
        <a href='/users'>Users</a>
        <a href='/items'>Items</a>
        <a href='/signup'>Sign up</a>
        <a href='/login'>Login</a>
    </nav>