* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 300;
  overflow: hidden;
  overflow-y: scroll;
  background: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.hoverable:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.1s;
}

.activated {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.1s;
}

.more-svg {
  width: 1.325rem;
  fill: rgba(0, 0, 0, 0.7);
}

.toast-mount {
  z-index: 50;
  position: fixed;
  inset: 0;
  pointer-events: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
.toast-mount toast {
  height: 0px;
  background: rgba(29, 155, 240, 0.75);
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  opacity: 0;
  transition: all ease-in-out 0.25s;
}
.toast-mount toast.showing {
  opacity: 1;
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0 0 2rem 2rem;
  transition: all ease-in-out 0.25s;
}

.validation-main .validation-container > button {
  border: 1px solid #646464;
  outline: none;
  padding: 0.725rem;
  border-radius: 2rem;
  color: #1d9bf0;
  margin: 0.5rem 0 1rem 0;
  background: white;
  cursor: pointer;
}
.validation-main .validation-container > button:hover {
  background: #1d9bf0;
  color: white;
}
.validation-main .validation-container .otc {
  margin: 0 auto;
}
.validation-main .validation-container .otc fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.validation-main .validation-container .otc fieldset > .code-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.validation-main .validation-container .otc fieldset > .code-inputs:before {
  content: "";
  height: 2px;
  width: 1vw;
  margin: 0 0.2vw;
  order: 1;
  background: #BBBBFF;
}
.validation-main .validation-container .otc fieldset legend {
  margin: 0 auto 1em;
  color: #5555FF;
}
.validation-main .validation-container .otc fieldset label {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.validation-main .validation-container .otc fieldset input[type=number] {
  width: 0.82em;
  line-height: 1;
  margin: 0.1em;
  padding: 8px 0 4px;
  font-size: 2.65em;
  text-align: center;
  appearance: textfield;
  -webkit-appearance: textfield;
  border: 2px solid #BBBBFF;
  color: black;
  border-radius: 4px;
}
.validation-main .validation-container .otc fieldset input[type=number]:nth-child(n+4) {
  order: 2;
}
.validation-main .validation-container .otc fieldset input::-webkit-outer-spin-button,
.validation-main .validation-container .otc fieldset input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-main, .signup-main, .validation-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(150, 175, 200, 0.2);
  padding: 4% 0;
}
.login-main object, .signup-main object, .validation-main object {
  width: clamp(40px, 20vw, 120px);
}
.login-main object svg, .signup-main object svg, .validation-main object svg {
  fill: #1d9bf0;
}
.login-main h1, .signup-main h1, .validation-main h1 {
  margin: 0 1rem 2% 1rem;
  text-align: center;
}
.login-main .login-container, .login-main .signup-container, .login-main .validation-container, .signup-main .login-container, .signup-main .signup-container, .signup-main .validation-container, .validation-main .login-container, .validation-main .signup-container, .validation-main .validation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: white;
  margin: 0 auto;
  padding: 1% 2%;
  border-radius: 3rem;
  width: clamp(200px, calc(100vw - 2rem), 450px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 25, 50, 0.3);
}
.login-main .login-container > b, .login-main .signup-container > b, .login-main .validation-container > b, .signup-main .login-container > b, .signup-main .signup-container > b, .signup-main .validation-container > b, .validation-main .login-container > b, .validation-main .signup-container > b, .validation-main .validation-container > b {
  align-self: flex-start;
  text-align: center;
  margin: auto;
}
.login-main .login-container > p, .login-main .signup-container > p, .login-main .validation-container > p, .signup-main .login-container > p, .signup-main .signup-container > p, .signup-main .validation-container > p, .validation-main .login-container > p, .validation-main .signup-container > p, .validation-main .validation-container > p {
  margin-top: 1rem;
  font-size: 1rem;
}
.login-main .login-container a, .login-main .signup-container a, .login-main .validation-container a, .signup-main .login-container a, .signup-main .signup-container a, .signup-main .validation-container a, .validation-main .login-container a, .validation-main .signup-container a, .validation-main .validation-container a {
  margin-bottom: 1rem;
  background: rgba(0, 100, 100, 0.1);
  font-weight: 400;
  padding: 1rem 1rem;
  border-radius: 3rem;
  color: black;
  width: 60%;
  text-align: center;
}
.login-main .login-container > form, .login-main .signup-container > form, .login-main .validation-container > form, .signup-main .login-container > form, .signup-main .signup-container > form, .signup-main .validation-container > form, .validation-main .login-container > form, .validation-main .signup-container > form, .validation-main .validation-container > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-main .login-container > form #error-container, .login-main .signup-container > form #error-container, .login-main .validation-container > form #error-container, .signup-main .login-container > form #error-container, .signup-main .signup-container > form #error-container, .signup-main .validation-container > form #error-container, .validation-main .login-container > form #error-container, .validation-main .signup-container > form #error-container, .validation-main .validation-container > form #error-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 1.2em;
}
.login-main .login-container > form #error-container span, .login-main .signup-container > form #error-container span, .login-main .validation-container > form #error-container span, .signup-main .login-container > form #error-container span, .signup-main .signup-container > form #error-container span, .signup-main .validation-container > form #error-container span, .validation-main .login-container > form #error-container span, .validation-main .signup-container > form #error-container span, .validation-main .validation-container > form #error-container span {
  color: #cf0000;
  font-weight: 400;
}
.login-main .login-container > form label, .login-main .signup-container > form label, .login-main .validation-container > form label, .signup-main .login-container > form label, .signup-main .signup-container > form label, .signup-main .validation-container > form label, .validation-main .login-container > form label, .validation-main .signup-container > form label, .validation-main .validation-container > form label {
  margin: 0.5rem 0 0 0.5rem;
}
.login-main .login-container > form input, .login-main .signup-container > form input, .login-main .validation-container > form input, .signup-main .login-container > form input, .signup-main .signup-container > form input, .signup-main .validation-container > form input, .validation-main .login-container > form input, .validation-main .signup-container > form input, .validation-main .validation-container > form input {
  border: none;
  outline: none;
  background: rgba(0, 100, 100, 0.05);
}
.login-main .login-container > form > input:not([type=submit]), .login-main .signup-container > form > input:not([type=submit]), .login-main .validation-container > form > input:not([type=submit]), .signup-main .login-container > form > input:not([type=submit]), .signup-main .signup-container > form > input:not([type=submit]), .signup-main .validation-container > form > input:not([type=submit]), .validation-main .login-container > form > input:not([type=submit]), .validation-main .signup-container > form > input:not([type=submit]), .validation-main .validation-container > form > input:not([type=submit]) {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}
.login-main .login-container > form > input[type=submit], .login-main .login-container > form button, .login-main .signup-container > form > input[type=submit], .login-main .signup-container > form button, .login-main .validation-container > form > input[type=submit], .login-main .validation-container > form button, .signup-main .login-container > form > input[type=submit], .signup-main .login-container > form button, .signup-main .signup-container > form > input[type=submit], .signup-main .signup-container > form button, .signup-main .validation-container > form > input[type=submit], .signup-main .validation-container > form button, .validation-main .login-container > form > input[type=submit], .validation-main .login-container > form button, .validation-main .signup-container > form > input[type=submit], .validation-main .signup-container > form button, .validation-main .validation-container > form > input[type=submit], .validation-main .validation-container > form button {
  font-size: 1.1rem;
  margin: 0.5rem auto;
  padding: 1rem 1rem;
  width: fit-content;
  border-radius: 3rem;
  background: #1d9bf0;
  color: white;
  text-align: center;
  width: 60%;
  white-space: nowrap;
}
.login-main .login-container > form button, .login-main .signup-container > form button, .login-main .validation-container > form button, .signup-main .login-container > form button, .signup-main .signup-container > form button, .signup-main .validation-container > form button, .validation-main .login-container > form button, .validation-main .signup-container > form button, .validation-main .validation-container > form button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
}
.login-main .login-container > form button:hover, .login-main .signup-container > form button:hover, .login-main .validation-container > form button:hover, .signup-main .login-container > form button:hover, .signup-main .signup-container > form button:hover, .signup-main .validation-container > form button:hover, .validation-main .login-container > form button:hover, .validation-main .signup-container > form button:hover, .validation-main .validation-container > form button:hover {
  background-color: #1391e6;
}
.login-main .login-container > form button .spinner, .login-main .signup-container > form button .spinner, .login-main .validation-container > form button .spinner, .signup-main .login-container > form button .spinner, .signup-main .signup-container > form button .spinner, .signup-main .validation-container > form button .spinner, .validation-main .login-container > form button .spinner, .validation-main .signup-container > form button .spinner, .validation-main .validation-container > form button .spinner {
  animation: rotate 2s linear infinite;
  margin: 0 0 0 -1rem;
  width: 2.2rem;
  height: 2.2rem;
}
.login-main .login-container > form button .spinner .path, .login-main .signup-container > form button .spinner .path, .login-main .validation-container > form button .spinner .path, .signup-main .login-container > form button .spinner .path, .signup-main .signup-container > form button .spinner .path, .signup-main .validation-container > form button .spinner .path, .validation-main .login-container > form button .spinner .path, .validation-main .signup-container > form button .spinner .path, .validation-main .validation-container > form button .spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
