* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 300;
  overflow: hidden;
  overflow-y: scroll;
  background: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.hoverable:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.1s;
}

.activated {
  background-color: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.1s;
}

.more-svg {
  width: 1.325rem;
  fill: rgba(0, 0, 0, 0.7);
}

.toast-mount {
  z-index: 50;
  position: fixed;
  inset: 0;
  pointer-events: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
.toast-mount toast {
  height: 0px;
  background: rgba(29, 155, 240, 0.75);
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
  opacity: 0;
  transition: all ease-in-out 0.25s;
}
.toast-mount toast.showing {
  opacity: 1;
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0 0 2rem 2rem;
  transition: all ease-in-out 0.25s;
}

.left-side {
  display: flex;
  justify-content: flex-end;
}
.left-side .left-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  padding: 0 1rem 1rem 1rem;
  z-index: 9;
  grid-column: 1;
  position: sticky;
  top: 0;
}
@media (max-width: 1021px) {
  .left-side .left-nav {
    padding: 0;
  }
  .left-side .left-nav button {
    margin: auto;
  }
}
.left-side .left-nav .nav-links {
  display: flex;
  flex-direction: column;
}
.left-side .left-nav .nav-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  border-radius: 4rem;
  gap: 1.2rem;
  margin: 0 3rem 0.3rem 0;
  font-size: 1.275rem;
  white-space: nowrap;
  color: black;
  font-weight: 400;
}
.left-side .left-nav .nav-links a[active] {
  font-weight: 700;
}
.left-side .left-nav .nav-links a[active] svg {
  stroke: black;
}
@media (max-width: 1280px) {
  .left-side .left-nav .nav-links a {
    margin-right: 0;
  }
  .left-side .left-nav .nav-links a p {
    display: none;
  }
}
.left-side .left-nav .nav-links a.logo {
  width: min-content;
  margin-top: 0.275rem;
}
.left-side .left-nav .nav-links a.logo:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
.left-side .left-nav .nav-links a.logo svg {
  fill: #1d9bf0;
  width: 2rem;
}
.left-side .left-nav .nav-links a svg {
  width: 1.7rem;
}
.left-side .left-nav .nav-links .new-tweet-btn {
  border: none;
  padding: 1rem;
  color: white;
  background-color: #1d9bf0;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 4rem;
  margin: 0 3rem 0.3rem 0;
  width: 14rem;
  cursor: pointer;
}
.left-side .left-nav .nav-links .new-tweet-btn:hover {
  background-color: #1391e6;
  transition: all ease-in-out 0.1s;
}
@media (max-width: 1280px) {
  .left-side .left-nav .nav-links .new-tweet-btn {
    margin-right: 0;
    margin-left: 0.285rem;
    width: fit-content;
  }
  .left-side .left-nav .nav-links .new-tweet-btn span {
    display: none;
  }
  .left-side .left-nav .nav-links .new-tweet-btn svg {
    display: block !important;
  }
}
.left-side .left-nav .nav-links .new-tweet-btn svg {
  fill: white;
  width: 1.4rem;
  height: 1.4rem;
  display: none;
}
.left-side .left-nav .auth-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
}
.left-side .left-nav .auth-nav #logout-dropup {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0.5rem 1rem;
}
.left-side .left-nav .auth-nav #logout-dropup a {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  cursor: pointer;
}
.left-side .left-nav .auth-nav .user-nav {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 4rem;
}
@media (max-width: 1280px) {
  .left-side .left-nav .auth-nav .user-nav svg {
    display: none;
  }
}
.left-side .left-nav .auth-nav .user-nav .user-info {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 1280px) {
  .left-side .left-nav .auth-nav .user-nav .user-info {
    display: none;
  }
}
.left-side .left-nav .auth-nav .user-nav .user-info div:first-child {
  font-weight: 500;
  color: black;
}
.left-side .left-nav .auth-nav .user-nav img {
  width: 3rem;
  border-radius: 100%;
}

.tweet-deck {
  grid-column: 2;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  width: clamp(400px, 100vw, 600px);
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1021px) {
  .tweet-deck {
    width: clamp(320px, 100vw, calc(100% - 1rem));
  }
}
.tweet-deck .deck-header {
  position: sticky;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.95);
  width: calc(100% - 2px);
  padding: 0 1rem;
}
.tweet-deck .deck-header a {
  font-size: 1.275rem;
  font-weight: 700;
  color: black;
}
.tweet-deck .deck-header svg {
  width: 1.2rem;
}
.tweet-deck .new-tweet {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.5rem 1rem 1rem 1rem;
}
.tweet-deck .new-tweet img {
  width: 3rem;
  border-radius: 100%;
}
.tweet-deck .new-tweet form {
  width: calc(100% - 3rem - 1rem);
}
.tweet-deck .new-tweet form textarea {
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  padding: 0.225rem 0;
  font-size: 1.2rem;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 1rem;
  resize: none;
  overflow: hidden;
  min-height: 2rem;
  border-bottom: 1px solid #e6e6e6;
}

.profile-deck {
  grid-column: 2;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  width: clamp(400px, 100vw, 600px);
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1021px) {
  .profile-deck {
    width: clamp(320px, 100vw, calc(100% - 1rem));
  }
}
.profile-deck .deck-header {
  position: sticky;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 0 1rem 0.2rem 1rem;
  z-index: 9;
}
.profile-deck .deck-header > div {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-deck .deck-header > div a {
  font-size: 1.275rem;
  font-weight: 700;
  color: black;
}
.profile-deck .deck-header > div svg {
  width: 1.2rem;
}
.profile-deck .deck-header span {
  font-size: 0.8rem;
}
.profile-deck .profile-info {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
}
.profile-deck .profile-info > div:not(.profile-banner) {
  padding: 0 1rem;
}
.profile-deck .profile-info .profile-banner {
  min-height: 5rem;
  max-height: 200px;
  overflow: hidden;
}
.profile-deck .profile-info .profile-banner > img, .profile-deck .profile-info .profile-banner > div {
  width: 100%;
  min-height: 200px;
  height: 200px;
}
.profile-deck .profile-info .profile-banner > div {
  background: #1e1e1e;
}
.profile-deck .profile-info .profile-picture {
  display: flex;
  justify-content: space-between;
  max-height: 5rem;
}
.profile-deck .profile-info .profile-picture img {
  aspect-ratio: 1/1;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  transform: translateY(-50%);
  border: 4px solid white;
}
.profile-deck .profile-info .profile-picture button {
  margin-top: 1rem;
  height: fit-content;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  font-weight: 700;
}
.profile-deck .profile-info .profile-picture button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.profile-deck .profile-info .profile-names div {
  font-weight: 600;
  font-size: 1rem;
  color: #787878;
}
.profile-deck .profile-info .profile-names div:first-child {
  font-weight: 700;
  font-size: 1.1rem;
  color: black;
}
.profile-deck .profile-info .bio {
  margin: 1rem 0;
  font-weight: 400;
}
.profile-deck .profile-info .extra-info {
  color: #787878;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  gap: 0.7rem;
}
.profile-deck .profile-info .extra-info > div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.profile-deck .profile-info .extra-info > div svg {
  fill: #787878;
  width: 1.2rem;
}

.modal .modal-content {
  border-radius: 1rem;
}
.modal .modal-content form {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 650px;
  border-radius: inherit;
}
.modal .modal-content form::-webkit-scrollbar {
  width: 0.5rem;
}
.modal .modal-content form::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modal-content form .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  background: rgba(255, 255, 255, 0.95);
  position: sticky;
  top: 0px;
  z-index: 11;
}
.modal .modal-content form .modal-header > div {
  display: flex;
  gap: 2rem;
}
.modal .modal-content form .modal-header > div button {
  border: none;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content form .modal-header > div button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.modal .modal-content form .modal-header > div button svg {
  width: 1.2rem;
}
.modal .modal-content form .modal-header > div > span {
  font-weight: 600;
  font-size: 1.3rem;
}
.modal .modal-content form .modal-header > button {
  background: black;
  border-radius: 3rem;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
}
.modal .modal-content form .modal-header > button:hover {
  background: rgba(0, 0, 0, 0.85);
}
.modal .modal-content .profile-images .edit-img-container {
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.modal .modal-content .profile-images .edit-img-container .edit-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: #787878;
  border-radius: 100%;
}
.modal .modal-content .profile-images .edit-img-container .edit-img svg {
  width: 1.5rem;
  fill: white;
}
.modal .modal-content .profile-images .profile-banner {
  min-height: 5rem;
  max-height: 200px;
  overflow: hidden;
  padding: 0 2px;
}
.modal .modal-content .profile-images .profile-banner > img, .modal .modal-content .profile-images .profile-banner > div {
  width: 100%;
  min-height: 200px;
}
.modal .modal-content .profile-images .profile-banner > #new-banner-placeholder {
  background: rgba(0, 0, 0, 0.85);
}
.modal .modal-content .profile-images .profile-picture {
  max-height: 5rem;
  padding: 0 1rem;
}
.modal .modal-content .profile-images .profile-picture img {
  aspect-ratio: 1/1;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  transform: translateY(-50%);
  border: 4px solid white;
}
.modal .modal-content .profile-images .profile-picture .edit-img-container {
  width: 8rem;
  height: 8rem;
  transform: translateY(-150%);
}
.modal .modal-content .profile-images .edit-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 2rem 1rem;
}
.modal .modal-content .profile-images .edit-info-container label {
  display: flex;
  flex-direction: column;
}
.modal .modal-content .profile-images .edit-info-container label p {
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}
.modal .modal-content .profile-images .edit-info-container label input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.right-side {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1021px) {
  .right-side {
    display: none;
  }
}
.right-side .right-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 0 0 1rem 2rem;
  z-index: 9;
  grid-column: 3;
  width: 24rem;
}
.right-side .right-nav > *:not(.search-mount) {
  background: rgba(0, 100, 100, 0.05);
  border: none;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
}
.right-side .right-nav .search-mount {
  z-index: 20;
  position: sticky;
  top: 0;
  background: white;
  padding: 0.3rem 0;
  border: unset;
}
.right-side .right-nav .search-mount .search-bar {
  display: flex;
  gap: 1rem;
  border-radius: 10rem;
  color: black;
  background: rgba(0, 100, 100, 0.05);
  padding: 0.5rem 1rem;
}
.right-side .right-nav .search-mount .search-bar svg {
  fill: rgba(0, 0, 0, 0.7);
  width: 1.2rem;
}
.right-side .right-nav .search-mount .search-bar input {
  border: none;
  background: none;
  padding: 0.5rem 0;
  font-size: 1rem;
  outline: none;
  width: 100%;
}
.right-side .right-nav .trends-nav {
  margin-top: 0.7rem;
}
.right-side .right-nav .trends-nav .trend {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 0;
}
.right-side .right-nav .trends-nav .trend div {
  font-size: 0.825rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.right-side .right-nav .trends-nav .trend div .trend-heading {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
.right-side .right-nav .follows-nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.right-side .right-nav .follows-nav > div img {
  width: 3rem;
  border-radius: 100%;
}
.right-side .right-nav .follows-nav > div .user-info {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}
.right-side .right-nav .follows-nav > div .user-info p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}
.right-side .right-nav .follows-nav > div .user-info p:first-child {
  font-weight: 500;
  color: black;
}
.right-side .right-nav .follows-nav > div button {
  border: none;
  background: black;
  color: white;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  height: min-content;
}

.modal {
  z-index: 10;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}
.modal .modal-bg {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
}
.modal .modal-content {
  z-index: 11;
  position: relative;
  background-color: white;
  max-width: 600px;
  margin: 7% auto;
  display: flex;
  flex-direction: column;
}
.modal .modal-content h1 {
  color: black;
}

.home-main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 4fr auto;
  margin: auto;
  width: fit-content;
  height: 100vh;
}
@media (max-width: 1021px) {
  .home-main {
    grid-template-columns: 1fr 19fr;
  }
}
