@use '../abstracts/media-query';

.validation-main {
    .validation-container {

        > button {
            border: 1px solid rgba(100, 100, 100, 1);
            outline: none;
            padding: .725rem;
            border-radius: 2rem;
            color: rgb(29, 155, 240);
            margin: .5rem 0 1rem 0;
            background: white;
            cursor: pointer;

            &:hover {
                background: rgb(29, 155, 240);
                color: white;
            }
        }

        .otc {
            // width: 320px;
            margin: 0 auto;
        
            fieldset {
                border: 0;
                padding: 0;
                margin: 0;
        
                > .code-inputs {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:before {
                        content: '';
                        height: 2px;
                        width: 1vw;
                        margin: 0 .2vw;
                        order: 1;
                        background: #BBBBFF;
                    }
                }
                legend {
                    margin: 0 auto 1em;
                    color: #5555FF;
                }
            
                label {
                    border: 0 !important;
                    clip: rect(1px, 1px, 1px, 1px) !important;
                    -webkit-clip-path: inset(50%) !important;
                    clip-path: inset(50%) !important;
                    height: 1px !important;
                    margin: -1px !important;
                    overflow: hidden !important;
                    padding: 0 !important;
                    position: absolute !important;
                    width: 1px !important;
                    white-space: nowrap !important;
                }
        
                input[type=number] {
                    width: .82em;
                    line-height: 1;
                    margin: .1em;
                    padding: 8px 0 4px;
                    font-size: 2.65em;
                    text-align: center;
                    appearance: textfield;
                    -webkit-appearance: textfield;
                    border: 2px solid #BBBBFF;
                    color: black;
                    border-radius: 4px;
        
                    &:nth-child(n+4) {
                        order: 2;
                    }
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }
}