@use '../abstracts/media-query';
.profile-deck {
    grid-column: 2;
    border-left: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
    width: clamp(400px, 100vw, 600px);
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-query.respond-to(1021px) {
        width: clamp(320px, 100vw, calc(100% - 1rem));
    }

    .deck-header {
        position: sticky;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        padding: 0 1rem .2rem 1rem;
        z-index: 9;
        
        > div {
            margin-top: .4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                font-size: 1.275rem;
                font-weight: 700;
                color: black;
            }
    
            svg {
                width: 1.2rem;
            }
        }
        span {
            font-size: .8rem;
        }
    }

    .profile-info {
        width: 100%;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(230, 230, 230);

        > div {
            &:not(.profile-banner) {
                padding: 0 1rem;
            }
        }

        .profile-banner {
            min-height: 5rem;
            max-height: 200px;
            overflow: hidden;

            > img, > div {
                width: 100%;
                min-height: 200px;
                height: 200px;
            }

            > div {
                background: rgb(30, 30, 30);
            }

        }

        .profile-picture {
            display: flex;
            justify-content: space-between;
            max-height: 5rem;
            
            img {
                aspect-ratio: 1 / 1;
                width: 8rem;
                height: 8rem;
                border-radius: 100%;
                transform: translateY(-50%);
                border: 4px solid white;
            }

            button {
                margin-top: 1rem;
                height: fit-content;
                padding: .5rem 1rem;
                background: none;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 3rem;
                font-weight: 700;

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .profile-names {
            div {
                font-weight: 600;
                font-size: 1rem;
                color: rgb(120, 120, 120);
                &:first-child {
                    font-weight: 700;
                    font-size: 1.1rem;
                    color: black;
                }
            }
        }

        .bio {
            margin: 1rem 0;
            font-weight: 400;
        }

        .extra-info {
            color: rgb(120, 120, 120);
            font-size: 1rem;
            font-weight: 400;
            display: flex;
            gap: .7rem;

            > div {
                display: flex;
                align-items: center;
                gap: .2rem;

                svg {
                    fill: rgb(120, 120, 120);
                    width: 1.2rem;
                }
            }
        }
    }
}

.modal {
    
    
    .modal-content {
        border-radius: 1rem;
        
        form {
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 650px;
            border-radius: inherit;
            
            &::-webkit-scrollbar {
                width: .5rem;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.5);
            }

            .modal-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem .5rem;
                background: rgba(255, 255, 255, 0.95);
                position: sticky;
                top: 0px;
                z-index: 11;
    
                > div {
                    display: flex;
                    gap: 2rem;
    
                    button {
                        border: none;
                        border-radius: 100%;
                        width: 2rem;
                        height: 2rem;
                        background: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        &:hover {
                            background: rgba(0, 0, 0, 0.1);
                        }
    
                        svg {
                            width: 1.2rem;
                        }
                    }
    
                    > span {
                        font-weight: 600;
                        font-size: 1.3rem;
                    }
        
                } 
    
                > button {
                    background: black;
                    border-radius: 3rem;
                    border: none;
    
                    color: white;
                    padding: .5rem 1rem;

                    &:hover {
                        background: rgba(0, 0, 0, 0.85);
                    }
                }
            }
        }

        .profile-images {

            .edit-img-container {
                transform: translateY(-100%);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: .8;

                .edit-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    // background: rgba(0, 0, 0, 0.8);
                    background: rgba(120, 120, 120, 1);
                    border-radius: 100%;

                    svg {
                        width: 1.5rem;
                        fill: white;
                    }
                }
            }

            .profile-banner {
                min-height: 5rem;
                max-height: 200px;
                overflow: hidden;
                padding: 0 2px;
    
                > img, > div {
                    width: 100%;
                    min-height: 200px;
                }

                > #new-banner-placeholder {
                    background: rgba(0, 0, 0, 0.85);
                }

            }

            .profile-picture {
                max-height: 5rem;
                padding: 0 1rem;
                
                img {
                    aspect-ratio: 1 / 1;
                    width: 8rem;
                    height: 8rem;
                    border-radius: 100%;
                    transform: translateY(-50%);
                    border: 4px solid white;
                }

                .edit-img-container {
                    width: 8rem;
                    height: 8rem;
                    transform: translateY(-150%);
                }
    
            }

            .edit-info-container {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem 1rem 2rem 1rem;

                label {
                    display: flex;
                    flex-direction: column;

                    p {
                        margin-left: .5rem;
                        margin-bottom: 0.2rem;
                    }

                    input {
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        padding: .5rem .5rem;
                        font-size: 1rem;
                        border-radius: .5rem;
                    }
                }
            }
        }
    }
}