% include('fragments/head', title='Email Validation / Not Twitter', stylesheet='../style/auth.css', script='../js/email-validation.js')
<body>
    <main class="validation-main">
        <object><svg viewBox="0 0 24 24"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg></object>      
        % try:
            <h1>Welcome {{ user_name }}</h1>
        % except:

        % end
        <div class="validation-container">
            <b>Please verify your email<br>Before you can start using Not Twitter</b>
            <p>Didn't receive a code?</p>
            <button id="resend-btn">Resend validation code</button>
            <!-- <form id="validation-form">
                <label for="validation-digits">Verification code:</label>
                <input type="number" name="validation-code" id="validation-code" maxlength="6" required>
                
                <div id="error-container"></div>
                <button id="validation-confirm">
                    <p id="submit-text">Verify</p>
                    <svg class="spinner hidden" viewBox="0 0 50 50">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5">

                        </circle>
                    </svg>
                </button>
            </form> -->
            <form class="otc" name="one-time-code" id="validation-form" action="#">
                <fieldset>
                    <legend>Validation Code</legend>
                    <label for="otc-1">Number 1</label>
                    <label for="otc-2">Number 2</label>
                    <label for="otc-3">Number 3</label>
                    <label for="otc-4">Number 4</label>
                    <label for="otc-5">Number 5</label>
                    <label for="otc-6">Number 6</label>
                    % try:
                    <input type="hidden" name="user_email" id="validation-email" value={{ user_email }}>
                    <input type="hidden" name="user_email" id="validation-user_name" value={{ user_name }}>
                    % except:
                    
                    % end
                    <div class="code-inputs">
                        <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" autocomplete="one-time-code" id="otc-1" required>
                        <!-- Autocomplete not to put on other input -->
                        <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-2" required>
                        <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-3" required>
                        <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-4" required>
                        <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-5" required>
                        <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1"  value="" inputtype="numeric" id="otc-6" required>
                    </div>
                    <div id="error-container"></div>
                    <button id="validation-confirm">
                        <p id="submit-text">Verify</p>
                        <svg class="spinner hidden" viewBox="0 0 50 50">
                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5">
    
                            </circle>
                        </svg>
                    </button>
                </fieldset>
            </form>
        </div>
    </main>


</body>
</html>