% include('fragments/head', title='Home / Not Twitter', stylesheet='../style/index.css', script='../js/index.js')
<body>
    <section class="modal hidden" id="modal-mount">
        <div class="modal-content hidden" id="signup-modal">
        </div>
        <div class="modal-background" id="modal-bg"></div>
    </section>
    <main class="home-main">
        % include('fragments/left-side', activate_link='profile')

        <div class="profile-deck">
            <div class="deck-header">
                <div>
                    <a href={{ profile_display_name }}>{{ profile_display_name }}</a>
                </div>
                <span>738 Tweets</span>
            </div>
            <div class="profile-info">
                <div class="profile-banner">
                    <img src="/image/default-pfp.jpg" alt="">
                </div>
                <div class="profile-picture">
                    <img  src="/image/default-pfp.jpg" alt="">
                    % if get('profile_user_name') == get('user_name'):
                        <button>Edit profile</button>
                    % end
                </div>
                <div class="profile-names">
                    <div> {{ profile_display_name }} </div>
                    <div> @{{ profile_user_name }} </div>
                </div>
                <div class="description">
                    yo
                </div>
                <div class="extra-info">
                    <div>
                        <svg viewBox="0 0 24 24"><g><path d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z"></path><circle cx="7.032" cy="8.75" r="1.285"></circle><circle cx="7.032" cy="13.156" r="1.285"></circle><circle cx="16.968" cy="8.75" r="1.285"></circle><circle cx="16.968" cy="13.156" r="1.285"></circle><circle cx="12" cy="8.75" r="1.285"></circle><circle cx="12" cy="13.156" r="1.285"></circle><circle cx="7.032" cy="17.486" r="1.285"></circle><circle cx="12" cy="17.486" r="1.285"></circle></g></svg>
                        <div>Joined {{ profile_joined_month }} {{ profile_joined_year }}</div>
                    </div>
                </div>
            </div>
            <div>tweet deck</div>
        </div>

        % include('fragments/right-side')
    </main>
    <div aria-hidden="true" class="toast-mount" id="toast-mount">
        % try:
            % if get('toast_msg'):
                <toast class="hidden">{{ get('toast_msg') }}</toast>
            % end
        % except:

        % end
    </div>
</body>
</html>