% include('fragments/head', title='Home / Not Twitter', stylesheet='../style/index.css', script='../js/user.js')
<body>
    <section class="modal hidden" id="modal-mount">
        <div class="modal-content" id="signup-modal">
            <form id="edit-profile-form">
                <div class="modal-header">
                    <div >
                        <button id="close-btn">
                            <svg viewBox="0 0 24 24"><g><path d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path></g></svg>
                        </button>
                        <span>Edit profile</span>
                    </div>
                    <button class="save-btn">Save</button>
                </div>
                <div class="profile-images">
                    <div class="profile-banner">
                        <img id="current-banner" class="" src="{{f'/user/{profile_user_name}/banner.jpg'}}" width="100%" height="200px" onerror="this.src = '/image/default-banner.jpg'">
                        <div class="edit-img-container" id="edit-banner">
                            <div class="edit-img">
                                <label for="banner-input">
                                    <svg viewBox="0 0 24 24"><g><path d="M19.708 22H4.292C3.028 22 2 20.972 2 19.708V7.375C2 6.11 3.028 5.083 4.292 5.083h2.146C7.633 3.17 9.722 2 12 2c2.277 0 4.367 1.17 5.562 3.083h2.146C20.972 5.083 22 6.11 22 7.375v12.333C22 20.972 20.972 22 19.708 22zM4.292 6.583c-.437 0-.792.355-.792.792v12.333c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V7.375c0-.437-.355-.792-.792-.792h-2.45c-.317.05-.632-.095-.782-.382-.88-1.665-2.594-2.7-4.476-2.7-1.883 0-3.598 1.035-4.476 2.702-.16.302-.502.46-.833.38H4.293z"></path><path d="M12 8.167c-2.68 0-4.86 2.18-4.86 4.86s2.18 4.86 4.86 4.86 4.86-2.18 4.86-4.86-2.18-4.86-4.86-4.86zm2 5.583h-1.25V15c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-1.25H10c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h1.25V11c0-.414.336-.75.75-.75s.75.336.75.75v1.25H14c.414 0 .75.336.75.75s-.336.75-.75.75z"></path></g></svg>
                                </label>
                                <input class="hidden" type="file" name="banner" id="banner-input">
                            </div>
                        </div>
                    </div>
                    <div class="profile-picture">
                        <img id="current-pfp" src="{{f'/user/{profile_user_name}/pfp.jpg'}}" alt="" onerror="this.src='/image/default-pfp.jpg'">
                        <div class="edit-img-container" id="edit-pfp">
                            <div class="edit-img">
                                <label for="pfp-input">
                                    <svg viewBox="0 0 24 24"><g><path d="M19.708 22H4.292C3.028 22 2 20.972 2 19.708V7.375C2 6.11 3.028 5.083 4.292 5.083h2.146C7.633 3.17 9.722 2 12 2c2.277 0 4.367 1.17 5.562 3.083h2.146C20.972 5.083 22 6.11 22 7.375v12.333C22 20.972 20.972 22 19.708 22zM4.292 6.583c-.437 0-.792.355-.792.792v12.333c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V7.375c0-.437-.355-.792-.792-.792h-2.45c-.317.05-.632-.095-.782-.382-.88-1.665-2.594-2.7-4.476-2.7-1.883 0-3.598 1.035-4.476 2.702-.16.302-.502.46-.833.38H4.293z"></path><path d="M12 8.167c-2.68 0-4.86 2.18-4.86 4.86s2.18 4.86 4.86 4.86 4.86-2.18 4.86-4.86-2.18-4.86-4.86-4.86zm2 5.583h-1.25V15c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-1.25H10c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h1.25V11c0-.414.336-.75.75-.75s.75.336.75.75v1.25H14c.414 0 .75.336.75.75s-.336.75-.75.75z"></path></g></svg>
                                </label>
                                <input class="hidden" type="file" name="pfp" id="pfp-input">
                            </div>
                        </div>
                    </div>
                    <div class="edit-info-container">
                        <label for="edit-display-name">
                            <p>Name:</p>
                            <input id="display_name_input" type="text" name="edit-display-name" value="{{ profile_display_name }}">
                        </label>
                        <label for="edit-bio">
                            <p>Bio:</p>
                            % if get('profile_bio') == None:
                                <input id="bio_input" type="text" name="edit-bio">
                            % else:
                                <input id="bio_input" type="text" name="edit-bio" value="{{ profile_bio }}">
                            % end
                        </label>
                        <input id="user_name_input" type="hidden" name="user_name" value="{{ profile_user_name }}">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-bg" id="modal-bg"></div>
    </section>
    <main class="home-main">
        % include('fragments/left-side', activate_link='profile')

        <div class="profile-deck">
            <div class="deck-header">
                <div>
                    <a href={{ profile_display_name }}>{{ profile_display_name }}</a>
                </div>
                <span>738 Tweets</span>
            </div>
            <div class="profile-info">
                <div class="profile-banner">
                    <img id="current-banner" class="" src="{{f'/user/{profile_user_name}/banner.jpg'}}" width="100%" height="200px" onerror="this.src = '/image/default-banner.jpg'">
                </div>
                <div class="profile-picture">
                    <img id="current-pfp" src="{{f'/user/{profile_user_name}/pfp.jpg'}}" onerror="this.src='/image/default-pfp.jpg'">
                    % if get('profile_user_name') == get('user_name'):
                        <button id="edit-profile">Edit profile</button>
                    % end
                </div>
                <div class="profile-names">
                    <div> {{ profile_display_name }} </div>
                    <div> @{{ profile_user_name }} </div>
                </div>
                <div class="bio">
                    % if get('profile_bio'):
                        {{ profile_bio }}
                    % end
                </div>
                <div class="extra-info">
                    <div>
                        <svg viewBox="0 0 24 24"><g><path d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z"></path><circle cx="7.032" cy="8.75" r="1.285"></circle><circle cx="7.032" cy="13.156" r="1.285"></circle><circle cx="16.968" cy="8.75" r="1.285"></circle><circle cx="16.968" cy="13.156" r="1.285"></circle><circle cx="12" cy="8.75" r="1.285"></circle><circle cx="12" cy="13.156" r="1.285"></circle><circle cx="7.032" cy="17.486" r="1.285"></circle><circle cx="12" cy="17.486" r="1.285"></circle></g></svg>
                        <div>Joined {{ profile_joined_month }} {{ profile_joined_year }}</div>
                    </div>
                </div>
            </div>
            <div>tweet deck</div>
        </div>

        % include('fragments/right-side')
    </main>
    <div aria-hidden="true" class="toast-mount" id="toast-mount">
        % try:
            % if get('toast_msg'):
                <toast class="hidden">{{ get('toast_msg') }}</toast>
            % end
        % except:

        % end
    </div>
</body>
</html>